.turnos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.turnos-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.turnos-header {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
}
.turnos-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turnos-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turnos-icon {
  width: 24px;
  height: 24px;
  display: none;
}
.turnos-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.turnos-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turnos-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turnos-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turnos-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turnos-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turnos-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turnos-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turnos-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turnos-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turnos-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turnos-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turnos-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turnos-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turnos-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turnos-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turnos-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turnos-image {
  width: 195px;
  height: 43px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 40%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.turnos-nav {
  display: flex;
  justify-content: center;
}
.turnos-btn-group {
  display: flex;
  align-items: center;
  margin-right: 5%;
  flex-direction: row;
  justify-content: center;
}
.turnos-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.turnos-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: rgba(42, 96, 255, 0.1);
}
.turnos-icon2 {
  fill: #2a60ff;
  width: 100%;
  height: 32px;
  align-self: center;
}
.turnos-container4 {
  flex: 0 0 auto;
  width: 55px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.turnos-image1 {
  width: auto;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
}
.turnos-container-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.turnos-container5 {
  width: 100%;
  height: 1020px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  box-shadow: 1px 1px 6px 1px #000000;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/backgrounhomepage-1100h.png");
  background-position: top right;
}
.turnos-container-blur {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  box-shadow: 5px 5px 10px 0px #4a4a4a;
  max-height: 100%;
  min-height: 100%;
  align-items: flex-start;
  border-radius: 24px;
  flex-direction: column;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.99) 0.00%,rgba(111, 111, 111, 0.16) 100.00%);
}
.turnos-container-turnos {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}
.turnos-container-fecha {
  flex: 0 0 auto;
  width: 20%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.turnos-text04 {
  align-self: center;
  font-family: "Poppins";
}
.turnos-container-especialidad {
  flex: 0 0 auto;
  width: 30%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.turnos-text07 {
  align-self: center;
}
.turnos-container-doctor {
  flex: 0 0 auto;
  width: 30%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.turnos-text08 {
  align-self: center;
}
.turnos-container-button {
  flex: 0 0 auto;
  width: 20%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.turnos-button-modificar {
  flex: 0 0 auto;
  width: 50%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turnos-button-cancelar {
  flex: 0 0 auto;
  width: 50%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 1366px) {
  .turnos-image {
    margin-right: 20%;
  }
  .turnos-container5 {
    height: 705px;
  }
}
@media(max-width: 1280px) {
  .turnos-header {
    justify-content: center;
  }
  .turnos-image {
    margin-right: 40%;
  }
  .turnos-container5 {
    width: 100%;
    height: 965px;
    z-index: 1;
  }
}
@media(max-width: 800px) {
  .turnos-header {
    height: 59px;
    justify-content: space-between;
  }
  .turnos-dropdown-toggle {
    width: 83px;
    height: 58px;
    margin-left: 30%;
  }
  .turnos-icon {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .turnos-image {
    display: none;
    align-self: center;
    margin-left: 0%;
    margin-right: 50%;
  }
  .turnos-container5 {
    height: 540px;
    align-items: flex-start;
  }
  .turnos-container-blur {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .turnos-header {
    align-self: flex-start;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .turnos-dropdown-list {
    left: 0%;
    width: 122px;
    height: 147px;
    display: none;
  }
  .turnos-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .turnos-text01 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .turnos-text02 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .turnos-text03 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .turnos-image {
    margin-left: 70%;
    margin-right: var(--dl-space-space-twounits);
  }
  .turnos-btn-group {
    display: none;
  }
  .turnos-container-blur {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .turnos-header {
    padding: var(--dl-space-space-unit);
  }
}
@media(max-width: 430px) {
  .turnos-header {
    padding-right: 16px;
  }
}
